

.header {
    font-weight: 700;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
}


.leave-message-for-inquiries {
    border: 5px;
    padding-right: 10px;
    margin: 30px;
}

.sign__up {
    border: 5px;
    padding-left: 10px;
    margin: 10px;


}

.container__signin {
    border: 5px;
    padding-right: px;
    margin: 30px;

}
    


